name: Build APK

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'

      # THIS LINE IS THE FIX
      # We force the name to be lowercase 'saints_kitchen'
      - name: Create Android Config
        run: flutter create . --platforms android --project-name saints_kitchen

      - name: Get dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release --no-tree-shake-icons

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Saints-Kitchen-APK
          path: build/app/outputs/flutter-apk/app-release.apk
